In [2]:
import pandas as pd
import numpy as np
import geopandas
import random

df = pd.read_json('C:\\Users\\HP\Desktop\\-ArewaDS-Machine-Learning-Assignments-\Data\\letters.json')

names = [
      "Muhammad Ibrahim",
      "Maryam Ibrahim",
      "Ibrahim Isah",
      "Aisha Sani",
      "Fatima, Ibrahim",
      "Amina Ibrahim",
      "Zainab Ibrahim",
      "Rukayya Ibrahim",
      "Sani Abdullahi",
      "Umar Siraj",
      "Yusif Kabir",
      "Usman",
      "Mahmud Musa",
      "Jamila Ibrahim",
      "Nura Abdullahi",
    ]




from_lst = []

while len(df['from']) != len(from_lst):
    name = random.choice(names)
    from_lst.append(name)
    names.remove(name)
    if len(names) == 0:
        names = ["Muhammad Ibrahim ","Maryam Ibrahim","Ibrahim Isah","Aisha Sani","Fatima, Ibrahim","Amina Ibrahim","Zainab Ibrahim","Rukayya Ibrahim","Sani Abdullahi","Umar Siraj","Yusif Kabir","Usman","Mahmud Musa","Jamila Ibrahim","Nura Abdullahi",]

df['from'] = from_lst




to_lst = []

while len(df['from']) != len(to_lst):
    name = random.choice(names)
    to_lst.append(name)
    names.remove(name)
    if len(names) == 0:
        names = ["Muhammad Ibrahim ","Maryam Ibrahim","Ibrahim Isah","Aisha Sani","Fatima, Ibrahim","Amina Ibrahim","Zainab Ibrahim","Rukayya Ibrahim","Sani Abdullahi","Umar Siraj","Yusif Kabir","Usman","Mahmud Musa","Jamila Ibrahim","Nura Abdullahi",]

df['to'] = to_lst



locations = ['Kano','Abuja','Katsina','Sokoto','Kebbi','Saudia','Lagos','Adamawa','Yobe','Borno','Taraba','USA','China'];



loc_lst = [ ]

while len(df['location']) != len(loc_lst):
    location = random.choice(locations)
    loc_lst.append(location)
    locations.remove(location)
    if len(locations) == 0:
        locations = ['Kano','Abuja','Katsina','Sokoto','Kebbi','Saudia','Lagos','Adamawa','Yobe','Borno','Taraba','USA','China']

df['location'] = loc_lst

df.tail()

,letter_num,from,to,date,location,notes
171,171,Muhammad Ibrahim,"Fatima, Ibrahim",12/13/17**,Sokoto,drop charges
172,172,Jamila Ibrahim,Maryam Ibrahim,12/15/17**,Lagos,None
173,173,Yusif Kabir,Amina Ibrahim,12/18/17**,Taraba,"booing, fever of Merteuil"
174,174,"Fatima, Ibrahim",Aisha Sani,12/26/17**,Adamawa,None
175,175,Umar Siraj,Sani Abdullahi,1/14/17**,Kebbi,downfall of Merteuil